.view-box{
  position:relative;
  height:100%;
  &>.view-box-content{
    box-sizing: border-box;
    height:100%;
    padding-top: $TopHeader;
    padding-bottom: $BottomFooter;

    overflow-y:auto;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
  }
}
